<% provide(:title, 'Home') %>
<div class="center hero-unit">

<h1>Welcome to the Skeleton Home page</h1>
<h2>
This is the home page for the Skeleton home page with Ruby on Rails
</h2>
<h4>Comment of skeleton site</h4>
<ul>
	<li>Headerの修正は、app/view/layout/_header.html.erb
	<li>Fuooterの修正は、app/view/layout/_footer.html.erb
	<li>Titleの修正は、app/helpers/application_helper.rb

</ul>
</div>



